@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #121725;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Chivo", sans-serif;
}
#container {
  width: 1275px;
  height: 640px;
  background: url("assets/desktop/image-host.jpg");
  background-size: 888px 640px;
  background-position-x: right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
main {
  width: 723px;
  height: 509px;
  color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #121725;
  padding-top: 90px;
}
h1 {
  font-weight: 400;
  font-size: 52px;
  line-height: 62px;
  text-transform: uppercase;
  color: #54e6af;
}
h1 span {
  color: #ffffff;
}
.hero-text {
  padding-right: 278px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #c2cbe5;
}

form {
  height: 56px;
  width: 427px;
  border-radius: 28px;
  background: #2c344b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input {
  cursor: text;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  background-color: #2c344b;
  margin-left: 32px;
  border: none;
  padding: 10px;
  outline: none;
}
input::placeholder {
  font-family: "Chivo", sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

button {
  height: 46px;
  width: 162px;
  background: #54e6af;
  box-shadow: 0px 2px 4px rgba(84, 230, 175, 0.14);
  border: none;
  border-radius: 28px;
  margin: 0;
  font-family: "Chivo", sans-serif;
  font-size: 14px;
  line-height: 28px;
  color: #121725;
}
button:hover,
button:active {
  background-color: #b3ffe2;
  box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.5);
}
.warning {
  margin-top: -28px;
  margin-left: 32px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #fb3e3e;
}

.sns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 40px;
}

@media (max-width: 1440px) {
  body {
    /* margin: 0 20px; */
    width: 95vw;
    height: 1024px;
    justify-content: center;
    align-items: flex-start;
  }
  #container {
    margin: 0;
    padding-top: 50px;
    width: 768px;
    height: 767px;
    background: url("assets/tablet/image-host.jpg");
    background-size: 491px 767px;
    background-position-x: right;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  main {
    width: 635px;
    height: 509px;
    padding-top: 50px;
    row-gap: 35px;
  }
  h1 {
    font-size: 48px;
    line-height: 56px;
  }
  .hero-text {
    font-size: 18px;
    line-height: 28px;
    padding-right: 190px;
  }
  form {
    width: 427px;
    height: 56px;
  }
}
@media (max-width: 700px) {
  body {
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #container {
    /* margin: 20px; */
    padding-top: 100px;
    width: 375px;
    height: 667px;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.8)
      ),
      url("assets/mobile/image-host.jpg");
    background-size: 375px 667px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 10px;
  }

  main {
    background-color: transparent;
    width: 327px;
    height: 398px;
    /* padding-top: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 10px;
    position: relative;
  }
  h1 {
    font-size: 26px;
    line-height: 38px;
    /* text-align: center; */
  }
  .hero-text {
    font-size: 15px;
    line-height: 25px;
    padding: 0;
    margin-bottom: 100px;
  }
  form {
    width: 327px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    padding-bottom: 30px;
  }
  input {
    width: 327px;
    border-radius: 28px;

    margin: 0;
    text-align: left;
    padding: 5px 0;
    padding-left: 30px;
  }
  button {
    width: 327px;
    padding: 5px;
  }
  .warning {
    align-self: flex-start;
    margin-top: -70px;
  }
  .sns {
    width: 327px;
    column-gap: 10px;
    height: 17px;
    position: absolute;
    top: 270px;
  }
  .sns img {
    height: 15px;
    width: auto;
  }
}
